<form method="POST" action="/sign-in">
  <label for="email">Email</label>
  <input type="text" name="email">
  <label for="password">Password</label>
  <input type="password" name="password">
  <input type="submit">
</form>

<%= @user.email if @user %>