Welcome </br>
New User? Go <a href='/signup'>here</a> </br>
<a href='/createPost'> Create Post </a>

<form method="POST" action="/sign-in">
  <label for="email">Email</label>
  <input type="text" name="[user]email">
  <label for="password">Password</label>
  <input type="password" name="[user]password">
  <input type="submit">
</form>

<%= @user.email if @user %>

